XTerm*metaSendsEscape: true
XTerm*background: black
XTerm*foreground: green
XTerm*fullscreen: always


xterm*faceName: Source Code Pro:style=Regular
xterm*faceNameDoublesize: Source Han Sans
xterm*faceSize: 11


xscreensaver*splash: false
