Host a
User git
HostName github.com
IdentityFile ~/.ssh/a
PreferredAuthentications publickey


Host b
User git
HostName bitbucket.org
IdentityFile ~/.ssh/b
PreferredAuthentications publickey


Host e
User git
HostName gitlab.com
IdentityFile ~/.ssh/e
PreferredAuthentications publickey
